h1 {
  text-align: center;
  font-family: arial;
  }

article {
  background-color: skyblue;
  width: 300px;
  }
.profile-img {
  display:block;
  margin-left: auto;
  margin-rught: auto;
  border-radius: 50%;
}

header {
  background-color: salmon;
}
